@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


main {

    
    width: 1900px;
    height: 476px;
}
body {
    overflow-x: hidden;
}





 




 .escudo {
    
    background: url(../images/header/escudo.png)no-repeat 10px;    
    position: relative;
    margin-left: 120px;
    width: 300px;
    height: 200px;
    margin-top: -1px;
    padding: 40px;
    
}
 .logo {
    background: url(../images/header/logo.png)no-repeat;
    position: relative;
    margin: auto;
    width: 400px;
    height: 200px;
    margin-top: -237px;
    bottom: -30px;

}
div.separacion {
    background: url(../images/main/separacion.svg);
    margin-top: 10px;
    margin-left: -4px;
    margin-bottom: auto;
    width: 1920px;
    height: 25px;
}







 .buttons {
    width: 1300px;
  margin-left: 270PX;
  margin-top: 20px;
  position: relative;
  
   
   
}
 header button {
   
    border:none ;
    position: static;
    margin-top: 50px;
    width: 250px;
    height: 50px;
    
    
 }
header button.inicio {
    background: url(../images/header/inicio.svg)no-repeat right;
    cursor: pointer;
    

}
header button.noticias {
    background: url(../images/header/noticias.svg)no-repeat center;
    cursor: pointer;
}
header button.matriculas {
    background: url(../images/header/MATRICULAS.svg)no-repeat left;
    cursor: pointer;
}
header button.quienes_somos {
    background: url(../images/header/quienes_somos.svg)no-repeat center;
    cursor: pointer;
}
header button.ingresar {
    background: url(../images/header/ingresar.svg)no-repeat center;
    cursor: pointer;
}





