@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


main   {
    width: 1940;
    height: 400px;
   
}
header div.escudo {
    background: url(/I.E_Atanasio_Girardot/images/header/escudo.png)no-repeat 10px;    
    position: relative;

    width: 150px;
    height: 150px;
    margin-top: -20px;
    padding: 40px;
    
}
header div.logo {
    background: url(/I.E_Atanasio_Girardot/images/header/logo.png)no-repeat;
    
    position: relative;
    margin: auto;
    width: 400px;
    height: 200px;
    margin-top: -237px;
    bottom: -30px;

}
main div.separacion {
    background: url(/I.E_Atanasio_Girardot/images/main/separacion.svg);
    margin-top: 10px;
    margin-left: -4px;
    margin-bottom: auto;
    width: 1910px;
    height: 25px;
}

button {
    
    position: relative;
   margin-top: 30px;
    border:none;
    width: 250px;
    height: 58px;
    margin-left: 100px;
    
   
   
}
main button.inicio {
    background: url(/I.E_Atanasio_Girardot/images/header/inicio.svg)no-repeat center;
    cursor: pointer;

}
main button.noticias {
    background: url(/I.E_Atanasio_Girardot/images/header/noticias.svg)no-repeat center;
    cursor: pointer;
}
main button.matriculas {
    background: url(/I.E_Atanasio_Girardot/images/header/MATRICULAS.svg)no-repeat center;
    cursor: pointer;
}
main button.quienes_somos {
    background: url(/I.E_Atanasio_Girardot/images/header/quienes_somos.svg)no-repeat center;
    cursor: pointer;
}
main button.ingresar {
    background: url(/I.E_Atanasio_Girardot/images/header/ingresar.svg)no-repeat center;
    cursor: pointer;
}





