

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Patrick Hand', cursive;


}
 
body{
 	overflow: hidden;
}

section{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	min-height: 100vh;
	 background: linear-gradient(to bottom,#32be8f,#459278);
}

section .color{
 	position: absolute;
 	filter: blur(150px);
}

section .color:nth-child(1){
top: -350px;
width: 600px;
height: 600px;
background: #ff359b;
}

section .color:nth-child(2){
 	top: 150px;
    left: -125px;
    width: 120px;
    height: 120px;
    z-index: 2;}

 section .color:nth-child(3){
 	bottom: 50px;
 	right: 100px;
 	width: 300px;
 	height: 300px;
 	background: #00d2ff;
}

.box{
 	position: relative;
}

 .box .square{
 	position: absolute;
 	backdrop-filter:blur(5px);
 	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
 	border: 1px solid rgba(255,255,255,0.5);
 	border-right: 1px solid rgba(255,255,255,0.2);
 	border-bottom: 1px solid rgba(255,255,255,0.2);
 	background: rgba(255,255,255,0.1);
 	border-radius: 10px; 
 	animation:animate 10s linear infinite;
 	animation-delay:calc(-1s * var(--i));
 }

@keyframes animate
{
	0%,100%
	{
		transform: translateY(-40px);
	}
	50%
	{
		transform: translateY(40px);
	}
}

.box .square:nth-child(1){
	top: -50px;
	right: -95px;
	width: 100px;
	height: 100px;
}

.box .square:nth-child(2){
	top: 150px;
	left: -115px;
	width: 120px;
	height: 120px;
	z-index: 2;
}

.box .square:nth-child(3){
	bottom: 50px;
	right: -78px;
	width: 80px;
	height: 80px;
	z-index: 2;
}


.box .square:nth-child(4){
	bottom: -80px;
	left: 100px;
	width: 50px;
	height: 50px;
}

.box .square:nth-child(5){
	top: -80px;
	left: 100px;
	width: 60px;
	height: 60px;
}



 .container{
 	position: relative;
 	width: 430px;
 	min-height: 400px;
	 background: rgba(255,255,255,0.1);
 	border-radius: 10px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	backdrop-filter:blur(5px);
 	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
 	border: 1px solid rgba(#2ed1ee);
 	border-right: 1px solid rgba(#2ed1ee);
 	border-bottom: 1px solid rgba(#2ed1ee);
 }

.form{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 40px;
}
.form img{
	position: relative;
	height: 40px;
	float: left;
	margin-right: 15px;

}
.form h2{
	position: relative;
	color: rgb(0, 0, 0);
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 10px;
	padding: 20px;
}
.form .inputBox
{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.form .inputBox input
{
	width: 86%;
	background: rgba(255,255,255,0.2);
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 35px;
	border: 1px solid rgba(46, 201, 221, 0.5);
 	border-right: 1px solid rgba(34, 207, 219, 0.2);
 	border-bottom: 1px solid rgba(30, 207, 238, 0.2);
 	font-size: 16px;
 	letter-spacing: 2px;
 	color: rgb(0, 0, 0);
 	box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}


.form .inputBox input::placeholder{
	color: #fff;
}

.form .inputBox input[type="submit"]{
	background: #fff;
	color: rgb(0, 0, 0);
	max-width: 200px;
	cursor: pointer;
	margin-bottom: 35px;
	font-weight: 600px;
}

.form .inputBox input[type="submit"]:hover{
	background: #45c2a3;
	color: #fff;

}

.forget{
	margin-top: 5px;
	color: rgb(0, 0, 0);
}
.forget a{
color: rgb(0, 0, 0);
align-items: center;
font-size: 18px;
}


