@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d4d4d4;
}

header {
    width: 100%;
    height: 140px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.container__header {
    width: 100%;
    height: 100%;
    margin: auto;
}

header .escudo {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 0px 50px;
}

header .logo {
    position: absolute;
    left: 44%;
    top: 0;
    margin: 20px 0;
}


.escudo img {
    width: 140px;
    cursor: pointer;
    transition: all 1s;
}

.escudo img:hover {
    transform: scale(1.07);
}

.logo img {
    width: 220px;
}

.container__nav li {
    text-align: center;
    width: 100%;
}

.container__nav ul {
    list-style: none;
    justify-content: center;
    display: flex;
}

.container__nav a {
    color: #fff;
    display: block;
    text-decoration: none;
    background: #3bc759;
    padding: 15px;
    font-family: 'Jura';
}

.container__nav a:hover {
    background: #116824;
}

.container__nav ul ul {
    display: none;
    width: 20%;
    position: absolute;
}

.container__nav ul li:hover ul {
    display: block;
}

i {
    padding: 0 10px 0 0;
}


/* Edición main - cuerpo de la página */

main .separador {
    padding: 60px 0px;
    display: flex;
}

.separador img {
    width: 100%;
} 

section {
    border: 1px solid red;
    width: 100%;
    height: 500px;
}





/* Pie de página - footer*/

footer {
    width: 100%;
    padding: 55px 0;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
}

.box__footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 30px;
}

.box__footer .escudo_footer img {
    width: 170px;
    margin-left: 0px;
}


.box__footer .terminos {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 20px;
}

.box__footer h2 {
    margin-bottom: 10px;
    color: #343434;
    font-weight: 700;
}

.box__footer a {
    margin-top: 20px;
    color: #7a7a7a;
    font-weight: 600;
    text-decoration: none;
}

.footer__convenio {
    margin-top: 60px;
}

.footer__convenio img {
    width: 200px;
}

.secretaria img {
    border: 2px solid red;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;

}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/*burguer-menu*/

#Burguer-menu{
    
    top: -40px;
    right: -1250px;
    width: 0px;
    height: 6px;
    margin: 50px;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 2;


}




#Burguer-menu span,
#Burguer-menu span:before,
#Burguer-menu span::after{
    
    background: #000000;
    display: block;
    height: 3px;
    position: absolute;
    transition: all 300ms ease;
}

#Burguer-menu span:before,
#Burguer-menu span:after{
    content: '';
}

#Burguer-menu span{
    right: 0px;
    top: -45px;
    width: 47px;
    
}
#Burguer-menu span:before{
    left: 0px;
    top: -10px;
    width: 47px;
}

#Burguer-menu span:after{
    left: 0px;
    top: 10px;
    width: 47px;
}
#Burguer-menu.close span{
    transform: rotate(-45deg);
    top: -45px;
    width: 47px;
    background: red;
}

#Burguer-menu.close span:before{
    top: 0px;
    transform: rotate(90deg);
    width: 47px;
    background: red;
}

#Burguer-menu.close span:after{
    top: 0px;
    left: 0px;
    transform: rotate(90deg);
    width: 27px;
    opacity: 0;
}


#menu{
    
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    visibility: hidden;
    transition: all 300ms ease;

}
#menu.show{
    opacity: 1;
    visibility: visible;
    padding-top: 200px;
    background: rgba(3, 0, 0, 0.8);
}

#menu li{
    list-style: none;
    position: relative;
    width: 300px;
    margin: auto;
    
}

#menu li:hover{
    letter-spacing: 2px;

}


#inicio{
    width: 100%;
    background: url(/Inicio-Estudiantes/Imagenes/image\ 1.png);
    border: 2px solid red;
    color: white;
    margin-left: -1200px;
    font-size: 32px;
    text-decoration: none;
    margin-bottom: 30px;  
    

}



