@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura';
}
body{
    background-image: url(../Imagenes/image\ 1.png);
    background-size: auto;
}
nav{
    max-width: 1370px;
    margin: auto;
    background-color: #71C785;
    font-size: 20px;
    margin-top: 22px;
    
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    
}

.menu-horizontal >li:hover{
    
    background: #ffffff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #71C785,
                0 0 50px #71C785,
                0 0 100px #71C785;
    transition: background-color .5s ease-in-out;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #71C785;
    
    
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: rgba(43, 38, 38, 0.651);
    transition: background-color .5s ease-in-out;
}
.menu-vertical li a{
    display: block;
    color: rgb(230, 255, 6);
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
div.logo{
    background-color: white;
    margin-top: 0px;
    
}
div.logo img{
    margin-left: 50px;
}
div.Titulo{
    margin-left: 380px;
    margin-top: -210px;
    width: 10px;
    
}
header .Titulo img{
    margin-top: 130px;
    width: 180px;
    margin-left: 200px;
    cursor: pointer;
    transition: all 2s;
}
header .Titulo img:hover{
    transform: scale(1.1);
}
header .logo img{
    width: 100px;
    cursor: pointer;
    transition: all 2s;
}
header .logo img:hover{
    transform: scale(1.1);
}
#Burguer-menu{
    
    top: -40px;
    right: -1250px;
    width: 0px;
    height: 6px;
    margin: 50px;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 2;


}




#Burguer-menu span,
#Burguer-menu span:before,
#Burguer-menu span::after{
    background: #000000;
    display: block;
    height: 3px;
    position: absolute;
    transition: all 300ms ease;
}

#Burguer-menu span:before,
#Burguer-menu span:after{
    content: '';
}

#Burguer-menu span{
    right: 0px;
    top: -45px;
    width: 47px;
    
}
#Burguer-menu span:before{
    left: 0px;
    top: -10px;
    width: 47px;
}

#Burguer-menu span:after{
    left: 0px;
    top: 10px;
    width: 47px;
}
#Burguer-menu.close span{
    transform: rotate(-45deg);
    top: -45px;
    width: 47px;
    background: red;
}

#Burguer-menu.close span:before{
    top: 0px;
    transform: rotate(90deg);
    width: 47px;
    background: red;
}

#Burguer-menu.close span:after{
    top: 0px;
    left: 0px;
    transform: rotate(90deg);
    width: 27px;
    opacity: 0;
}


#menu{
    
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    visibility: hidden;
    transition: all 300ms ease;

}
#menu.show{
    opacity: 1;
    visibility: visible;
    padding-top: 200px;
    background: rgba(3, 0, 0, 0.8);
}

#menu li{
    list-style: none;
    position: relative;
    width: 300px;
    margin: auto;
    
}

#menu li:hover{
    letter-spacing: 2px;

}


#inicio{
    width: 100%;
    background: url(/Inicio-Estudiantes/Imagenes/image\ 1.png);
    border: 2px solid red;
    color: white;
    margin-left: -1200px;
    font-size: 32px;
    text-decoration: none;
    margin-bottom: 30px;  
    

}
